body{

    background-color:black;

}
.row{
    margin-bottom:10px;

}
.form1{
    margin-top:130px;
    border: solid black 1px;
    padding : 10px;
    border-radius: 2%;
    background-color: #3b4652;
    opacity:0.9;

}

.user-img{

    border-radius: 50%;
    margin-top: -50px;
    margin-bottom: 25px;


}

.user-img img{

    height:100px;
    width:100px;
    border-radius:5px;
}

lable{
    color:white;
}
.error{
    color:red;
}